@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link src="../../wwwroot/js/site.js"
</head>
<!-- Slideshow container -->
<div class="slideshow-container">


<!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="~/Photos/Clairvoyant.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/TheDarkPool.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/ILetItIn.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/TheWork.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/DarkSun.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/Language.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/ChasingSafety.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/Amnesiac.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/TracedInAir.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/BTBAM.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/StellarCircuits.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/TranslatingtheName.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/Spiritbox.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/SleepToken.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/Neon.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="~/Photos/IKSSE3.jpg" style="width:100%">
  </div>

  <h1 style="text-align: center; padding-top: 15px; padding-below: 10 px"> Welcome</h1>
  <h4 style="padding-bottom: 25px">Click the "All Albums" tab above to see all albums. Or if you're feeling lucky, <a href="/Home/GetRandomAlbum">click here</a> to be taken to a random album page!'</h4>

  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/4SD2UxRO9OgeSCQK0PN7cC?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

  