@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<p style="text-align:center">This website's privacy is managed by a highly trained shop cat that patrols the website to protect our users' data. </p>
    
<p style="text-align:center">Here is a picture of her hard at work protecting your data:</p>

<img src="~/Photos/Spooky.jpg" style="width:100%">

